@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo/Heebo.ttf') format('truetype');
}

body {
  font-family: "Open Sans", sans-serif;
  /*background-color: #040404;*/
  background-color: transparent;
  color: #fff;
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  /*background-color: #040404;*/
  background-color: transparent;
  background-image: radial-gradient(farthest-corner at 100px 100px , #5e006d 0%, #040404 100%);
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(0deg, rgba(94,0,109,1) 100%, rgba(211,54,235,1) 100%);
  border-radius: 15px;
  box-shadow: 0px 0px 5px #ee80ff;
}

::-webkit-scrollbar-track{
  background-color: #040404;
}

::-moz-scrollbar{
  width: 10px;
}

::-moz-scrollbar-thumb{
  background: linear-gradient(0deg, rgba(94,0,109,1) 100%, rgba(211,54,235,1) 100%);
  border-radius: 15px;
  box-shadow: 0px 0px 5px #ee80ff;
}

::-moz-scrollbar-track{
  background-color: #040404;
}


@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: #d336eb;
  text-decoration: none;
}

a:hover {
  color: yellow;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 10;
  overflow-y: auto;
}

#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "montserrat", sans-serif;
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.15);
}


#header h1 a, #header h1 a:hover {
  color: #fff;
  line-height: 1;
  display: inline-block;
}

#header h2 {
  font-size: 24px;
  padding-left: 0;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.15);
}


#header img {
  padding: 0;
  margin: 0;
}

#header .imagen-inicio{
  position: absolute;
  bottom: 0;
  right: 50px;
  height: 300px;
  float: right;
  z-index: -100;
  margin-left: 0;
  filter: drop-shadow(15px 15px 7px rgb(0, 0, 0, 0.8));
}

@media (max-width:768px){
  #header .imagen-inicio{
    right: 0;
    height: 150px;
  }
}

@media (max-width:400px){
  #header .imagen-inicio{
    height: 200px;

  }
}

@media (max-width:340px){
  #header .imagen-inicio{
    height: 180px;

  }
}

#header .redes-links {
  margin-top: 40px;
  display: flex;
}

#header .redes-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 3;
  margin-right: 15px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#header .redes-links a .redes{
  width: 25px;
}

#header .redes-links a:hover {
  background: #d336eb;
}

#header #divIdioma {
  position: absolute;
  top: 0;
  right: 2.5em;
}

#header #divIdioma2 {
  position: absolute;
  top: 0;
  right: 2.5em;
}

#header .traducir{
  background-color: transparent;
  width: fit-content;
  max-width: 50px;
  border: none;
}

/*Animaciones textos header*/

.slide-right {
	-webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-right2 {
	-webkit-animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-right3 {
	-webkit-animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-right2 {
  0% {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right2 {
  0% {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-right3 {
  0% {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right3 {
  0% {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width:768px){
  .text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }

  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(8px);
              filter: blur(8px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(8px);
              filter: blur(8px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
}



@media (max-width: 992px) {
  #header h1 {
    font-size: 26px;
  }
  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }
  #header .redes-links {
    margin-top: 15px;
  }
  #header .container {
    display: flex;
    padding: 0 20px 0 20px;
    flex-direction: column;
    /*align-items: center;*/
  }

  #header #divIdioma {
    position: absolute;
    top: -0.5em;
    left: 0.5em;
  }
  
  #header #divIdioma2 {
    position: absolute;
    top: -0.5em;
    left: 0.5em;
  }


}

/* Header Top */
#header.header-top {
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

#header.header-top .redes-links, #header.header-top h2 {
  display: none;
}

#header.header-top h1 {
  margin-right: auto;
  font-size: 25px;
  display: inline-block;

}

#header.header-top .container {
  display: flex;
  align-items: center;
}


#header.header-top .navbar {
  margin: 0;
}

#header.header-top .imagen-inicio{
  display: none;
}

@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }
  #header.header-top h1 {
    font-size: 18px;
  }
}

/*--------------------------------------------------------------
# Menú de navegación
--------------------------------------------------------------*/
/* Desktop*/
.navbar {
  padding: 0;
  margin-top: 35px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li + li {
  margin-left: 30px;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

/*.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -4px;
  left: 0;
  background-color: #d336eb;
  visibility: hidden;
  width: 0px;
}*/

 .navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #fff;
}

/* Mobile Navbar*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 15px;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
  margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 45px;
  left: 15px;
  padding: 5px 0;
  overflow-y: auto;
  transition: 0.5s;
  border: 3px outset rgba(132, 1, 255, 0.521);
}

.navbar-mobile li {
  padding: 12px 20px;
}

.navbar-mobile li + li {
  margin: 0;
}

.navbar-mobile a {
  font-size: 16px;
  position: relative;
}

/*--------------------------------------------------------------
# Secciones General
--------------------------------------------------------------*/
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: linear 0.5s;
  z-index: 2;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

section .container {
  background-color: transparent;
  padding: 10px;
}


@media (max-width: 768px) {
  section {
    top: 120px;
  }
  section.section-show {
    top: 80px;
  }
}

.seccion-titulo{
  width: 60%;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.seccion-titulo h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  margin-right: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Heebo", sans-serif;
}

.seccion-titulo p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Heebo", sans-serif;
  color: #fff;
}

.sub-seccion-titulo{
  margin-top: 50px;
}

.sub-seccion-titulo h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Heebo", sans-serif;
}

/*--------------------------------------------------------------
# Sobre Mi
--------------------------------------------------------------*/
.sobre-mi .contenido h3 {
  font-weight: 700;
  font-size: 26px;
  color: #d336eb;
}

.sobre-mi .contenido ul {
  list-style: none;
  padding: 0;
}

.sobre-mi .contenido ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.sobre-mi .contenido ul strong {
  margin-right: 10px;
}

.sobre-mi .contenido ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #d336eb;
  line-height: 0;
}

.sobre-mi .contenido p:last-child {
  margin-bottom: 0;
}


@media (max-width: 768px){
  .sobre-mi .sobre-mi-foto{
    margin-top: 50px;
    
  }
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills{
  margin-top: 30px;
}

.skills .progress {
  height: 100px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  font-size: medium;
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #d336eb;
  border-radius: 20px;
}

.skills .skills-content {
  margin-bottom: 25px;
}

.skills .herramienta{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 150px;
  height: 150px;
  margin: 10px;
}

@media (max-width: 768px){
  .skills .herramienta{
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
  }
}

.skills .herramienta .skill{
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: inline;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.skills .herramienta .logo{
  height: 50px;
  margin:  20px;
}


.skills .extra{
  margin-top:  50px;
}



/*--------------------------------------------------------------
# CV
--------------------------------------------------------------*/
.cv .cv-titulo {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.cv .btn-outline-light{
  color: #d336eb;
  border-color: #d336eb;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .cv .btn-outline-light{
    width: 125px;
    margin-right: 10px;
  }
}

.cv .btn-outline-light:hover{
  color: whitesmoke;
  background-color: #d336eb;
}

.cv .btn-outline-light a{
  color: whitesmoke;
}

.cv .btn-outline-light a:hover{
  color: whitesmoke;
}

.cv .cv-item {
  padding: 0 0 20px 20px;
  margin-top: 5px;
  border-left: 2px dotted rgba(255, 50, 255, 0.1);
  position: relative;
}

.cv .cv-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #d336eb;
  margin-bottom: 10px;
}

.cv .cv-item h5 {
  font-size: 16px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.cv .cv-item ul {
  padding-left: 20px;
}

.cv .cv-item ul li {
  padding-bottom: 10px;
}

.cv .cv-item:last-child {
  padding-bottom: 0;
}

.cv .cv-item::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  left: -6px;
  top: 0;
  background: #d336eb;
  border: 2px solid #d336eb;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-filtro {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-filtro li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 3px 10px 3px;
  transition: all 0.4s ease-in-out;
  border-radius: 50px;
}

.portfolio #portfolio-filtro li:hover, .portfolio #portfolio-flters li.filtro-activo {
  background: #d336eb;
}

.portfolio #portfolio-filtro li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 10;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 100em;
  height: 100em;
  position: absolute;
  top: 50px;
  left: 50px;
  border-top: 1px solid #d336eb;
  border-left: 1px solid #d336eb;
  transition: all 0.5s ease 0s;
  z-index: 3;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 100em;
  height: 100em;
  position: absolute;
  bottom: 50px;
  right: 50px;
  border-bottom: 1px solid #d336eb;
  border-right: 1px solid #d336eb;
  transition: all 0.5s ease 0s;
  z-index: 3;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  cursor: pointer;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #d336eb;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Contacto
--------------------------------------------------------------*/
.contacto .info-box {
  color: #444444;
  padding: 20px;
  padding-left: 0;
  width: 100%;
  /*background: rgba(255, 255, 255, 0.08);*/
  background-color: transparent;
  border-radius: 30px;
}

.contacto .info-box .iconos{
  width: 25px;
  margin-left: 0;
}

.contacto .info-box i.bx {
  font-size: 24px;
  color: #d336eb;
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: rgba(255, 255, 255, 0.1);
}

.contacto .info-box h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

.contacto .info-box p {
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}

.contacto .formulario {
  padding: 30px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 30px;
}

.contacto .formulario .error-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contacto .formulario .error-message br + br {
  margin-top: 25px;
}


.contacto .formulario input, .contact .formulario textarea {
  border-radius: 50px;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: #fff;
}

.contacto .formulario input:focus, .contact .formulario textarea:focus {
  background-color: rgba(255, 255, 255, 0.11);
}

.contacto .formulario input::-webkit-input-placeholder, .contact .formulario textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contacto .formulario input::-moz-placeholder, .contact .formulario textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contacto .formulario input::placeholder, .contact .formulario textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contacto .formulario input {
  padding: 10px 15px;
}

.contacto .formulario textarea {
  padding: 12px 15px;
}

.contacto .formulario button[type="submit"] {
  background: #d336eb;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contacto .formulario button[type="submit"]:hover {
  background: #d336eb;
}

.contacto .formulario .disclaimer{
  color: #b3b3b3;
  font-size: smaller;
}


@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



